// font //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap'); // sans-serif
// font //

// color //
$main-font-color: #000;
$background-color: #E5E5E5;
// color //

// widgets //
@mixin myButton($width, $height, $radius:0, $color:$main-font-color, $block-color:#FFF, $margin-horizontal: 5px) {
  width:$width;
  height:$height;
  border-radius: $radius;

  color: $color;
  background-color: $block-color;

  margin-left: $margin-horizontal;
  margin-right: $margin-horizontal;

  text-align: center;
  vertical-align: middle;
  line-height: $height;
}
// widgets//

body {
    background: $background-color;
    font-family: sans-serif;
    color: $main-font-color;
    letter-spacing: 1px;
    padding: 5px;
    min-height: 100vh;
  }
  
  header {
    text-align: left;
    margin: 5px 0 5px 0;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;

    .navLinks {
      flex: 3 1 30%;
      text-transform: uppercase;
      font-size: 150%;
      
      .link:link,
      .link:visited {
        padding: 5px 10px;
        margin: 1rem;
        color: $main-font-color;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
      }
  
      .link:hover,
      .link:active {
        color: #757575;
      }
    }

    .searchBar {
      flex: 3 1 40%;
    }

    .navButtons {
      flex: 3 1 30%;
      justify-content: flex-end;
      align-items: center;
      display: flex;

      .signupButton {
        @include myButton(75px, 45px, $color: #FFF, $block-color: #000);
      }
      .signupButton:hover {
        cursor: pointer;
      }

      .signinButton {
        @include myButton(75px, 45px);
      }
      .signinButton:hover {
        cursor: pointer;
      }

      .userInfo {
        @include myButton(45px, 45px, $radius: 22px);
      }
      .userInfo:hover {
        cursor: pointer;
      }
    }
  }
  
  h1 {
    font-size: 32px;
  }

  h1,
  h2 {
    color: #000;
  }

  .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .main-content {
    width: 80%;
    margin: auto auto 100px auto;
  }
  
  .main {
    margin-left: 10px;
  }
  
  .form {
    width: 50%;
    float: left;
    margin-bottom: 50px;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .book {
    margin: 10px;
    width: 288px;
    overflow: hidden;
  
    .book-title {
      font-weight: bold;
    }
  
    .book-details {
      margin-bottom: 1rem;
  
      & > div {
        margin-bottom: 0.5rem;
      }
    }
  }
  
  .main-form {
    color: #222222;
    font-size: 18px;
    width: 70%;
    margin: auto;
  }
  
  .input-control {
    border: 1px solid #ccc;
    color: #555555;
    background-color: #fff;
    height: 46px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
  
    &:focus {
      outline: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(23, 24, 24, 0.6);
      border: 1px solid #cecece;
    }
  }
  
  button {
    margin-right: 5px;
  }
  
  .submit-btn {
    margin-top: 1rem;
  }
  
  .login {
    text-align: center;
    padding: 10px;
    height: 200px;
    line-height: 200px;
  
    button {
      font-size: 20px;
    }
  }
  
  .errorMsg {
    color: #f21e08;
    background: #fff0f0;
    padding: 10px;
  }
  
  .successMsg {
    color: #00ff00;
    background: #077707;
    padding: 10px;
  }
  
  .centered-message {
    width: 500px;
    margin: auto;
  }
  
  .message {
    color: #0e1b1e;
    font-size: 25px;
    margin-left: 10px;
  }
  
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 30px;
    }
  
    header {
      .links {
        a {
          font-size: 1.2rem;
        }
  
        .link:link,
        .link:visited {
          margin: unset;
        }
      }
    }
  
    .main-form {
      width: 100%;
    }
  }