@import '../../styles.scss';
  
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
  background-color: transparent;
}

.main-content {
  width: 50%;
  margin: 50px auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-field {
  width: 100%;
  margin-bottom: 32px;

  .post-title {
    margin-bottom: 32px;
    color: #000;
    font-size: $smaller-font-size;
  }

  .post-field-before {
    width: 100%;
    height: 53px;
    padding: 10px 8px 10px 8px;
    background-image: radial-gradient(99.12% 159.6% at 92.94% 95.93%, #E4D3FF 0%, #E5EEFF 62.33%, #EEE1FF 69.62%, #DAD7F8 81.02%);
    border-radius: 8px;

    .input-field {
      height: 100%;
      padding: 7px 16px;

      font-size: $small-font-size;
      font-weight: 400;
      vertical-align: middle;

      color: $dark-grey;
      background-color: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #E0E0E0;

      &:hover {
        cursor: text;
      }
    }
  }

  .post-field-after {
    width: 100%;
    height: 350px;
    padding: 10px 8px 16px 8px;
    background-image: radial-gradient(99.12% 159.6% at 92.94% 95.93%, #E4D3FF 0%, #E5EEFF 62.33%, #EEE1FF 69.62%, #DAD7F8 81.02%);
    border-radius: 8px;

    textarea {
      width: 100%;
      height: 32px;
      border-radius: 4px;
      border: 1px solid #E0E0E0;
      outline: none;

      font-size: $small-font-size;
      font-weight: 400;
      padding: 7px 16px;
    }

    .submit-btn {
      width: 100%;
      height: 32px;
      line-height: 32px;
      color: #fff;
      background-color: $purple1;
      border-radius: 20px;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
      text-align: center;
      vertical-align: middle;
    }

    .setting-area {
      height: 225px;
      margin-top: 17px;
      margin-bottom: 17px;
      background-color: #fff;
      border-radius: 8px;
      padding: 8px 16px;

      h3 {
        color: $dark-grey;
        font-size: $smaller-font-size;
        margin: 8px auto;
      }

      p {
        font-size: $small-font-size;
        color: #333;
        margin: 8px auto;
      }

      label {
        font-size: $smallest-font-size;
        color: $dark-grey;
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 8px;

        span {
          color: #BDBDBD;
          font-size: $smallest-font-size;
          font-weight: bold;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: $light-grey;
        margin: 0 auto;
      }

      .setting-epk {
        .epk {
          width: 515px; 
          height:32px;
          background-color: #fff;
          padding: 8px 16px;
          color: #333;
          font-size: $small-font-size;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;

          span {
            flex: 20;
            margin-left: 8px;
          }

          img {
            width: 12px;
            height: 6px;
          }
        }

        .epk-with-border {
          border: 1px solid #F0F0F0;
          border-radius: 8px;
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
        }

        .epk-dropdown {
          display: block;
          position: fixed;
          width: 515px;
          background-color: #fff;
          border-radius: 8px;
          color: #333;
          font-size: $small-font-size;
          border: 1px solid #F0F0F0;
          border-radius: 8px;
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }

      .setting-reputation {
        
        textarea {
          width: 515px;
        }
      }
    }
  }
}

.post-list {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}

.post-block {
  width: 100%;
  background-image: linear-gradient(180.55deg, rgba(249, 245, 255, 0) 73.13%, #F9F5FF 99.52%), radial-gradient(99.12% 159.6% at 92.94% 95.93%, #E4D3FF 0%, #E5EEFF 62.33%, #EEE1FF 69.62%, #DAD7F8 81.02%);
  border-radius: 8px;
  display: block;
  flex-direction: row;
  padding: 8px;
  margin: 10px auto;

  .divider {
    width: 95%;
    height: 1px;
    background-color: $light-grey;
    margin: 0 auto;
  }

  .post-block-header {
    width: 100%;
    height: 43px;
    padding-left: 33px;
    padding-right: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > img {
      flex: 1;
    }

    .rep {
      flex: 1;
      margin-left: 8px;
      margin-right: 8px;
    }

    .epk {
      flex: 14;
      color: $purple1;
    }

    .upvote {
      @include myButton(79px, 24px, $radius: 20px, $color: $purple1, $font-size: $small-font-size);
      flex: 3;
      border: 2px solid $purple1;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);

      img {
        margin-right: 7px;
      }
    }

    .downvote {
      @include myButton(79px, 24px, $radius: 20px, $color: $dark-grey, $font-size: $small-font-size);
      flex: 3;
      border: 2px solid $dark-grey;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);

      img {
        margin-right: 7px;
      }
    }
  }

  .post-block-info {
    display: flex;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 16.5px;
    margin-bottom: 16.5px;

    .transaction-text {
      font-size: $small-font-size;
      text-decoration: underline;
      margin-right: 8px;
      cursor: pointer;
    }

    .done {
      color: $green;
    }

    .pending {
      color: $yellow;
    }

    .datetime-text {
      color: $lighter-grey;
      font-size: $small-font-size;
    }

    img {
      margin-left: 10px;
      width: 13px;
      height: 13px;
      cursor: pointer;
    }
  }

  .post-block-main {
    padding-left: 8px;
    padding-right: 18px;
  }

  .post-block-comment {
    display: block;
    margin: auto 33px;

    .comment-btn {
      @include myButton(138px, 32px, $radius: 4px, $block-color1: $light-grey);
    }

    .comment-block {
      background-color: $light-grey;
    }
  }

  .post-block-comment-list {
    display: block;
    margin: auto 33px;

    .comment {
      border-radius: 8px;
      border: 1px solid $light-grey;
    }
  }
}

.margin-box {
  flex-grow: 100;
}

.main {
  margin-left: 10px;
}